# Data Science Tools and Ecosystem

## Author
Zla Smo

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    - popular languages for Data Science
    - common libraries (Python and R) used in Data Science
    - Data Science tools

Some of the popular languages that Data Scientists use are:
    1. R
    2. Python
    3. SQL

Some of the commonly used libraries used by Data Scientists include:
    1. Keras
    2. TensorFlow
    3. Caret

|*Data Science Tools*|
|ApacheSpark|
|RStudio|
|JupyterNotebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335